/*$main-color:#54C08B;*/
$secondary-color:#FFFFFF;
$main-color: #FFFFFF;
$verde1: #2a5b63;
$verde2: #348d9b;

/**
 * Demo Styles
 */

html, body{
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.sidebar-menu{
/*  background-color: #233ec6!important;*/
  position: fixed;
  width: 17% !important; /*Si no se usa important se cambia en algun lado :c */
  float: left;
  display: inline-block;
  z-index: 999;
  top: 0;
  left: 0;
}

.sidebar-menu.vsm-collapsed{
  width: 5%;


}



.main-container{
  align-content: center;
  text-align: center;
  min-height: 100%;
  float: right;
  width: 78% !important; /*Si no se usa important se cambia en algun lado :c */
  display: inline-block;
  position: relative;
  transition: margin-left .5s;
  padding: 0px 0px 10% 0px;
}

body {
  color:$secondary-color;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #FFFFFF !important;  //background-image: url("./img/índice.png");
}

header{

  padding: 10px 20px;
  background-color: lighten(#efefef, 3%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .branding{
    img{
      width: 20px;
      display: inline-block;
    }
    span{
      display: inline-block;
    }
  }
  nav{
    a{
      font-size: 0.8em;
      display: inline-block;
      padding: 5px 10px;
      color:darken($secondary-color, 10%);
      text-decoration: none;
      position: relative;
      cursor: pointer;
      &:hover::after{
          content:'';
          position: absolute;
          bottom: -5px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: $main-color;

      }
    }
  }
}

.center {
  text-align: center;
  margin: 0 auto;
  padding-top: 64px;
  max-width: 800px;
  width: 94%;
  img{
    max-width: 200px;
  }
}

/* Seccion principal del contenido. Se usa en todos los componentes*/
.body-section{
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: $main-color;
}

/* Centra los componentes de cada seccion*/
.body-section *{
  margin: 0 auto;
}
/****/


/**
 * Footer Styles
 */
 /* No hay footer aun */
footer {
  display: block;
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  height: 10%;
  width: 100%;
  margin-top: -10%;
  padding: 1rem;
  text-align: center;
  object-fit: contain;
  background-color: #000000;
}

.heading{
  text-align: center;
  color: white;
  padding-top: 5vh;
}

.heading *{
  text-transform: none;
}
